<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bullet Journal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://use.fontawesome.com/56881644c3.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-defaault">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Bullet Journal</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                            <li><a href="/">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>