<% include ./partials/header %>
    
    <link rel="stylesheet" href="stylesheets/cover.css">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!--<div class="masthead clearfix">-->
          <!--  <div class="inner">-->
          <!--    <h3 class="masthead-brand">Cover</h3>-->
          <!--    <nav>-->
          <!--      <ul class="nav masthead-nav">-->
          <!--        <li class="active"><a href="#">Home</a></li>-->
          <!--        <li><a href="/login">Login</a></li>-->
          <!--        <li><a href="/register">Sign Up</a></li>-->
          <!--      </ul>-->
          <!--    </nav>-->
          <!--  </div>-->
          <!--</div>-->

          <div class="inner cover">
            <h1 class="cover-heading">grugLife's Bullet Journal</h1>
            <p class="lead">The ultimate way to get shit done</p>
            <p class="lead">
              <a href="/register" class="btn btn-lg btn-default">Sign Up</a>
            </p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">Login</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>journal by <a href="http://getbootstrap.com">grugLife</a>, by <a href="https://twitter.com/grug_life">@grug_life</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>







<!--<h1>GrugLife's Bullet Journal</h1>-->

<!--<h4>The Ultimate way to get shit done</h4>-->

<!--<a href="/bullet">View Bullet Journal</a>-->

<% include ./partials/footer %>

  